# flask_autoindex requires an older version of werkzeug, which requires an older versoin of flask

requests
jsonpickle
flask==1.1.1
Werkzeug==0.16.1
pandas
flask-executor
Flask-AutoIndex
jsons
-r tests/requirements.txt