<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Smoking study message generation</title>
    <link rel="stylesheet" href="../static/bulma.css">
</head>
<body>
  <div class="container scale-in-center">
    <br><br>
    <div><h1 class="title is-4">Smoking study message generation</h1></div>
    <div class="content">
        <form method="post" enctype="multipart/form-data" id="upload">
        <!--  Participant ID -->
        <br><br>
        <div class="columns">
            <div class="column is-one-fifth">
                <label for="participant">Participant ID</label>
            </div>
            <div class="column is-one-fifth">
                <input name="participant" id="participant" type="text">
            </div>
        </div>
        </form>

        <br><br>
        <button id="action1" class="button is-link" >ACTION 1</button>
        <br><br>
        <button id="action2" class="button is-link" >ACTION 2</button>
        <br><br>

        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        <ul class=flashes>
          {% for category, message in messages %}
          <li class="tag is-{{ category }}">{{ message }}</li>
          {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}

        <iframe id="progress"
            title="thread progress"
            width="640"
            height="200"
            src="progress">
        </iframe>
    </div>
  </div>
</body>

<script type="text/javascript">
    document.addEventListener('DOMContentLoaded', () => {
         document.querySelectorAll('button').forEach(button => {
            button.onclick = () => {
                const request = new XMLHttpRequest();
                request.open('POST', `/${button.id}`);
                request.onload = () => {
                    document.getElementById('progress').contentWindow.location.reload(true);

                };
                const form = document.getElementById( "upload" );
                const formdata = new FormData(form);
                request.send(formdata);
            };
        });
    });
</script>

<!--  disable enter key -->
<script src="http://code.jquery.com/jquery-3.1.1.js"></script>
<script type="text/javascript">
$(document).keypress(
  function(event){
    if (event.which == '13') {
      event.preventDefault();
    }
});
</script>

<!--  periodically refresh progress log  -->
<script type="text/javascript">
    function doRefresh(){
        document.getElementById('progress').contentWindow.location.reload(true);
    }
    $(function() {
        setInterval(doRefresh, 10000);
    });
</script>

</html>