{% extends "base.html" %}
{% block content %}
<form method="post" enctype="multipart/form-data" id="upload">
  <h2 class="subtitle is-4">Do the things</h2>

  <!--  Participant ID -->
  <div class="columns">
    <div class="column is-one-fifth">
      <label for="participant">Participant ID</label>
    </div>
    <div class="column is-one-fifth">
      <input name="participant" id="participant" type="text">
    </div>
  </div>

  <div class="columns">
    <div class="column is-one-fifth">
      <label>Generate diary </label>
      </div>
    <div class="column is-one-fifth">
      <input name="diary" class="button is-link" id="diary" type="submit" value="Diary"
             title="Generate DD1 and quit date">
    </div>
  </div>

   <div class="columns">
    <div class="column is-one-fifth">
      <input name="task" class="button is-link" id="task" type="submit" value="Task"
             title="Generate value task input">
    </div>
  </div>

  <div class="columns">
    <div class="column is-one-fifth">
      <input name="messages" class="button is-link" id="messages" type="submit" value="Messages"
             title="Generate intervention SMS and DD3">
    </div>
  </div>

     <div class="columns">
    <div class="column is-one-fifth">
      <input name="conversations" class="button is-link" id="conversations" type="submit" value="Conversations"
             title="Get all conversations with participant">
    </div>
  </div>

     <div class="columns">
    <div class="column is-one-fifth">
      <input name="delete" class="button is-link" id="delete" type="submit" value="Delete"
             title="Delete all messages to participant">
    </div>
  </div>

     <div class="columns">
    <div class="column is-one-fifth">
      <input name="download" class="button is-link" id="download" type="submit" value="Download"
             title="Go to downloads page">
    </div>
  </div>

{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
<ul class=flashes>
  {% for category, message in messages %}
  <li class="tag is-{{ category }}">{{ message }}</li>
  {% endfor %}
</ul>
{% endif %}
{% endwith %}
</form>

{% endblock %}
